@model IEnumerable<HSRestAPI_DLL.Entities.ServiceOffered>

@{
    ViewBag.Title = "Oversigt";
}

<h2>Oversigt</h2>

<p>
    @Html.ActionLink("Opret nyt produkt/ny serviceydelse", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Rediger", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Se detaljer", "Details", new { id = item.ID }) |
            @Html.ActionLink("Slet produkt/serviceydelse", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
