@model IEnumerable<Hairstudio_DLL.Entities.Customer>

@{
    ViewBag.Title = "Oversigt";
}

<h2>Oversigt</h2>

<p>
    @Html.ActionLink("Opret ny kunde", "Create")
</p>
<div style="overflow-x:auto;">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Rediger", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Se detaljer", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Slet kunde", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>