@model Hairstudio_MVC.Models.ViewModel_HomeIndex
@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="row-md-4">
        @* Carousel begin *@
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.CarouselImages.Count; i++)
                {
                    if (i == 0) //Set first image as active
                    {
                        <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#myCarousel" data-slide-to="@i"></li>
                    }
                }
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @for (int i = 0; i < Model.CarouselImages.Count; i++)
                {
                    if (i == 0) //Set first image as active
                    {
                     <div class="item active">
                    <img src="@Model.CarouselImages[i].Description" alt="Chania">
                </div>
                    }
                    else
                    {
                     <div class="item">
                    <img src="@Model.CarouselImages[i].Description" alt="Chania">
                </div> }
                }
                
                
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        @* Carousel end *@
    </div>
    <div class="columns">
        <div class="col-md-4">
            <div>
                <h3>Velkommen!</h3>
                @Model.Welcome.Description
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h3>Åbningstider</h3>
                <table class="table table-inverse">

                    <tbody>
                    <tr>
                        <th scope="row">Mandag</th>
                        <td>@Model.Monday.Description</td>
                    </tr>
                    <tr>
                        <th scope="row">Tirsdag</th>
                        <td>@Model.Tuesday.Description</td>
                    </tr>
                    <tr>
                        <th scope="row">Onsdag</th>
                        <td>@Model.Wednesday.Description</td>
                    </tr>
                    <tr>
                        <th scope="row">Torsdag</th>
                        <td>@Model.Thursday.Description</td>
                    </tr>
                    <tr>
                        <th scope="row">Fredag</th>
                        <td>@Model.Friday.Description</td>
                    </tr>
                    <tr>
                        <th scope="row">Lørdag</th>
                        <td>@Model.Saturday.Description</td>
                    </tr>
                    <tr>
                        <th scope="row">Søndag</th>
                        <td>@Model.Sunday.Description</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h3>Kontaktinformation</h3>
                @Model.Contact.Description
            </div>

        </div>
    </div>
    <div class="row-md-4">
        @* Sticky footer begin *@
        <div id="wrap">
        </div>
        <div id="main">
            </div>
            <div id="footer">
            </div>
            @* Sticky footer end *@
        </div>
    <div class="clear"></div>
</div>