@model HSRestAPI_DLL.Entities.Message

@{
    ViewBag.Title = "Slet billed link";
}

<h2>Slet billed link</h2>

<h3>Er du sikker på du ønsker at slette dette link?</h3>
<div>
    <h4>Link</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaMessageIsUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaMessageIsUsed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Bekræft sletning" class="btn btn-default" /> |
            @Html.ActionLink("Tilbage til oversigten", "Index")
        </div>
    }
</div>
