@model Hairstudio_MVC.Models.VIewModel_CreateAppointment
<head>
    
</head>
@{
    ViewBag.Title = "Create";
}
@{
            var hairdresserDropDown = new List<SelectListItem>();
            foreach (var item in Model.Hairdressers)
            {
                var selectListItem = new SelectListItem
                {
                    Text = item.Name,
                    Value = item.ID.ToString(),
                };
                hairdresserDropDown.Add(selectListItem);
            }
}
@{
            var customerDropDown = new List<SelectListItem>();
            foreach (var item in Model.Customers)
            {
                var selectListItem = new SelectListItem
                {
                    Text = item.Name,
                    Value = item.ID.ToString(),
                };
                customerDropDown.Add(selectListItem);
            }
}
<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Appointment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               
                @*//*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Appointment.TimeRange.TheDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Appointment.TimeRange.TheDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Appointment.TimeRange.TheDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Appointment.TimeRange.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Appointment.TimeRange.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Appointment.TimeRange.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Appointment.TimeRange.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Appointment.TimeRange.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Appointment.TimeRange.EndTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*//*@
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
