@model HSRestAPI_DLL.Entities.Appointment

@{
    ViewBag.Title = "Slet frisørtid";
}

<h2>Slet frisørtid</h2>

<h3>Er du sikker på du ønsker at slette denne frisørtid?</h3>
<div>
    <h4>Frisørtid</h4>
    <dt>
        @Html.DisplayNameFor(model => model.TimeRange.TheDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TimeRange.TheDate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.TimeRange.StartTime)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Hairdresser.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Customer.Name)
    </dt>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Bekræft sletning" class="btn btn-default" /> |
            @Html.ActionLink("Tilbage til oversigten", "Index")
        </div>
    }
</div>
